*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    color: black;
    padding: 10px;
    margin-left: 70px;
    font-weight: 600;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
}

nav {
    height: 120px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

header {
    height: 120px;
    width: 100%;
    background-color: #454545;
}

img.logo {
    display: block;
    width: 200px;
    height: auto;
    padding: 20px;
    margin-left: 100px;
}

div.buttons {
    float: right;
    padding: 20px;
    margin-right: 100px;
}

div.button {
    float: right;
    padding: 20px;
    margin-right: 100px;
    position: relative;
    bottom: 70px;
}

div.wrapper{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/mh-trainer-2-1533576998.png?resize=1200:*);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

a.btn:link, a.btn:visited {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

a.btn:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    background-color: #ade792;
  }

a.btn:active {
    color: white;
    background: #506b44;
}

a.btn-green, .btn.btn-green {
    background-color: #ade792;
    color: black;
    font-size: 14px;
}

a.btn-large {
    background-color: #ade792;
    color: black;
    font-size: 40px;
}

main.index {
    margin-top: 80px;
    text-align: center;
    height: 100vh;
    line-height: 100px;
}

main.index p {
    color: #ade792;
    font-size: 50px;
    text-shadow: 0 0 20px rgba(250, 250, 250, 0.685);
}

div.box {
    display: flex;
}

section {
    padding: 2em;
}

canvas {
    height: 150px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

section.image {
    flex-basis: 50px;
    text-align: left;
}

section.info1 {
    flex-basis: auto;
}

section.info2 {
    flex-basis: auto;
}

section.info3 {
    flex-basis: auto;
}

input {
    border: none;
    background: transparent;
    font-size: 10pt;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th[scope='col'] {
    height: 2.5rem;
    width: 10rem;
    text-align: left;
    background-color: #0c4b2b;
    color: #f2f5f3;

}

td, th {
    padding: 1em;
    border-bottom: 1px solid #d3d3d3;
}

td:hover {
    background-color: rgb(171, 224, 24);
}

div.edit {
    display: flex;
    justify-content: end;
    margin-right: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

a.quiz-button {
    background-color: #ade792;
    padding: 0.5rem;
    margin: 1rem;
    text-decoration: none
}

progress.quiz-progress {
    width: 15rem;
    height: 1rem;
    margin: 0.5rem;
    box-sizing: border-box;
    background-color: #ececec;
}

h3.quiz-sub-question {
    font-size: 1.5rem;
    padding: 1rem;
}

h2.quiz-question {
    padding: 0.5rem;
}

div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

#body-wrapper {
    min-height: 100%;
    position: relative;
}

#body-content {
    padding-bottom: max-content;
}

footer {
    color: white;
    width: 100%;
    height: max-content;
    background-color:#202020;
    font-size: small;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer.footerr {
    color: white;
    width: 100%;
    height: max-content;
    background-color:#202020;
    font-size: small;
    text-align: center;
    position: inherit;
    bottom: 0;
    left: 0;
}

p a, li a {
    text-decoration: none;
    color: white;
}

footer ul li, footer.footerr ul li {
    display: inline-block;
    list-style: none;
    margin: 0.8px;
    line-height: 50px;
}

div.trainer-scheduling-bg, div.trainer-matches-bg {
    background-image: url("../img/background.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

div.day-container {
    width: 10rem;
    border-color: #ADE792;
    border-width: thick;
    background-color: white;
}

div.add-to-schedule {
    display: flex;
    justify-content: end;
    margin-right: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div.trainer-pic-container {
    height: 456px;
    max-width: 456px;
    overflow: hidden;
}

a.btn.timeslot-button {
    background-color: white;
    color: black;
    border-color: #0c4b2b;
    border-width: thin;
}
a.btn.timeslot-button:active, a.btn.timeslot-button:hover, a.btn.timeslot-button:focus {
    background-color: #ADE792;
    color: black;
    border-color: #0c4b2b;
    border-width: medium;
}

@media (max-width: 768px) {
    div.card-column-container {
        flex: auto;
    }
    div.day-container {
        margin: auto;
    }
    div.trainer-scheduling-bg, div.trainer-matches-bg {
        background-image: none;
    }
    .no-disp {
        display: none;
    }
    .extra-padding {
        padding-bottom: 0.5rem;
    }
    .schedule-padding {
        padding-bottom: 3rem;
    }
}

@media (min-width: 768px) {
    .button-bot {
        display: none;
    }
}
